<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    
    <div class="not-found">
        <p>Error 404 - Page Not Found</p>
    </div>

    <%- include('includes/end.ejs') %>