@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
    --primary-color: #244855;
    --secondary-color: #90aead;
    --accent-color: #e64833;
    --background-color: #fbe9d0;
    --info-color: #31708f;
    --info-background-color: #d9edf7;
    --error-color: #d8000c;
    --error-background-color: #ffdddd;
    --low: #a4d68e;
    --moderate: #f9ecb0;
    --high: #ffab6e;
    --very-high: #f37575;
    --extreme: #a890d3;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}

h2 {
    color: var(--primary-color);
    font-size: 2em;
    padding: 0.2em;
}

p {
    color: var(--primary-color);
    font-size: 1.2em;
    padding: 0.2em;
}

.footer {
    display: flex;
    height: 2rem;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.footer > p {
    color: var(--background-color);
    font-size: small;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-content {
    display: grid;
    grid-template-rows: 1fr;
    width: 100vw;
    height: calc(100vh - 3.5rem - 2rem);
}

#page-content.background {
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

.info-message {
    padding: 15px;
    background-color: var(--info-background-color);
    color: var(--info-color);
    border-radius: 8px;
    margin: 10px 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    position: relative;
    border-left: 4px solid var(--info-color);
}

.error-message {
    padding: 15px;
    background-color: var(--error-background-color);
    color: var(--error-color);
    border-radius: 8px;
    margin: 10px 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    position: relative;
    border-left: 4px solid var(--error-color);
}

@media (max-width: 768px) {
    #page-content {
        height: calc(100svh - 3.5rem - 2rem);
    }
}
