#widgets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    overflow: auto;
}

#widgets > div {
    overflow: hidden;
}

#widgets > div > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#news-widget {
    grid-row: 1;
    grid-column: 1;
}

#weather-widget {
    grid-row: 1;
    grid-column: 2;
}

#apod-widget {
    grid-row: 1;
    grid-column: 3;
}

#apod-img {
    width: 100%;
    height: auto;
}

#traffic-widget {
    grid-row: 2;
    grid-column: 1;
}

#todo-widget {
    grid-row: 2;
    grid-column: 2;
}

#calendar-widget {
    grid-row: 2;
    grid-column: 3;
}

@media (max-width: 768px) {
    
    #widgets {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fill);
    }

    #widgets > div > img {
        min-height: 100%;
        object-fit: cover;
    }

    #news-widget {
        grid-row: 1;
        grid-column: 1;
    }

    #weather-widget {
        grid-row: 2;
        grid-column: 1;
    }

    #apod-widget {
        grid-row: 3;
        grid-column: 1;
    }
    
    #traffic-widget {
        grid-row: 4;
        grid-column: 1;
    }

    #todo-widget {
        grid-row: 5;
        grid-column: 1;
    }

    #calendar-widget {
        grid-row: 6;
        grid-column: 1;
    }
}
