.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3.5rem - 2rem);
}

.login-page form {
    padding: 20px;
    background: var(--secondary-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 300px;
    margin: auto;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.login-page .input-container i.icon {
    width: 25px;
    text-align: center;
    margin-right: 10px;
    color: var(--primary-color);
}

.login-page input[type='text'],
.login-page input[type='password'] {
    width: calc(100% - 35px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-page button {
    width: calc(100% - 35px);
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 35px;
}

.login-page button:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.login-area p {
    font-size: 1em;
    color: var(--primary-color);
    text-align: center;
}

.login-area p:first-child {
    margin-top: 10px;
}

.login-area p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.login-area p a:hover {
    text-decoration: underline;
}

#daily-dash-banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#daily-dash-banner p {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .login-page {
        min-height: calc(100svh - 3.5rem - 2rem);
    }
}
