.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3.5rem - 2rem);
    background-color: var(--background-color);
    flex-direction: column;
}

.signup-page form {
    padding: 20px;
    background: var(--secondary-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 300px;
}

.signup-area p {
    font-size: 1em;
    color: var(--primary-color);
    text-align: center;
    margin-top: 10px;
}

.signup-area p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.signup-area p a:hover {
    text-decoration: underline;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.signup-page .input-container i.icon {
    width: 25px;
    text-align: center;
    margin-right: 10px;
    color: var(--primary-color);
}

.signup-page input[type='text'],
.signup-page input[type='password'] {
    width: calc(100% - 35px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-page input.half-width {
    width: calc(50% - 18px);
}

.signup-page input.half-width:nth-child(2) {
    margin-right: 5px;
}

.signup-page button {
    width: calc(100% - 35px);
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 35px;
}

.signup-page button:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.error-message {
    padding: 15px;
    background-color: var(--error-background-color);
    color: var(--error-color);
    border-radius: 8px;
    margin: 10px 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    position: relative;
    border-left: 4px solid var(--error-color);
}

#daily-dash-banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#daily-dash-banner p {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .signup-page {
        min-height: calc(100svh - 3.5rem - 2rem);
    }

    .input-container.name-container {
        flex-direction: column;
    }

    .signup-page input.half-width {
        width: calc(100% - 35px);
        margin-left: 0;
    }
}
